
body{margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
    }
     
    .topnav {
    overflow: hidden;  background-color: #eaecee;  margin-left: 4.3rem;  margin-top: -4.6rem;   
    }  
    
    .topnav a {
    float: left;    color: #080808;
    text-align: center;    padding: 14px 16px;    text-decoration: none;  font-size: 17px;
    }
    
    .topnav a:hover {
    background-color: #0a3cee;   color: rgb(253, 251, 251);
    }
       
    .topnav a.active {
    background-color: #04AA6D;    color: white;
    }
    
    .topnav .search-container {
        float: right;  
      }
    
      .topnav input[type=text] {
        padding: 6px;       margin-top: 8px;    font-size: 17px;       border: none;
      }
    
      .topnav .search-container button {
        float: right;    padding: 6px 10px;     margin-top: 8px;    margin-right: 16px;  
          background: #ddd;   font-size: 17px;     border: none;    cursor: pointer;
      }
    
      .topnav .search-container button:hover {
        background: #ccc;
      }
     
      .heading {
        margin-top: -1px;    padding-top: 21px;    padding-left: 4px;
      }
    .banner-paragraph {
        margin-top: -15px;
        padding-left: 4px;
    }

   .text {
    color: #060606; 
    height: 89rem;
    display: flex;
    flex-direction: column;align-items: center;
  }

  .header {
    height: 100%; width: 100%;
    background: url(../img/blue.jpg) center no-repeat;  background-size: cover ; 
      margin-top: 0%;   margin-right: 0%;   overflow: hidden;
  }    

.tube{
    color: #0d0d0d;   margin-top: -.3rem;    font-size: 70px;   
     font-weight: bold;    font-family: monospace;    letter-spacing: 7px;    cursor: pointer
  }
  .tube span{
    transition: .5s linear
  }
  .tube:hover span:nth-child(1){
    margin-right: 5px
  }
  .tube:hover span:nth-child(1):after{
    content: "DU-";
  }
  .tube:hover span:nth-child(2){
    margin-left: 30px
  }
  .tube:hover span{
    color: #0625e9;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
  }


.intro {
    text-align: center;    margin-top: 120px;    font-size: 70px;
    margin-bottom: 0%;       padding-top: 100px;   margin-right: 0%; color: rgb(4, 4, 4);
}
.intro-button {
    transition: 1s;   font-size: 1rem;
    color: #fdfdfd;    border: none;    border-radius: 10rem;
    outline: none;    background: linear-gradient(to right, rgb(19, 19, 18), rgb(75, 75, 76));
}

.intro-button:active {
    transform: translateY(.2rem);
}

.about-us-img {
  margin-left: 50rem ;   height: 49vh;
  display: flex;   float: left;   margin-top: -24.9rem;
  height:29.8rem;    width: 44.9rem;    margin-right: 0%;         
}

.about-us-content {
  width: 800px;    height: 476px;  margin-top: -49.2rem;
 background-image: linear-gradient(to right,rgb(79, 224, 132), rgb(81, 141, 205)); 
}

.about-us-heading{
    display: flex;    justify-content: center;   padding-bottom: 50px;   padding-top: 50px;
    font-size: 2rem;    transition: 1s;
}
.about-us-heading:hover{
    rotate: -10deg;   
    text-decoration: underline;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
}

.about-us-paragraph {
    font-size: 1.3rem;  text-align: center;   padding-bottom: 4px;
    font-weight: 400;   transition: 1s;
}
.about-us-paragraph:hover{
    font-style: italic;    color: #fff;
}

.info-button {
    transition: 1s;   font-size: 1rem;    color: #090909;
    border: none;    border-radius: 10rem;   outline: none;    text-align: center;   margin-left: 20rem; 
       margin-top: 1rem;   background: linear-gradient(to right, rgb(235, 121, 6),rgb(239, 224, 9));
}
.info-button:active {
    transform: translateY(.2rem);
}
.box-heading {
    font-size: 2rem;
    text-decoration: underline;   text-align: center;   transition: .5s;
}

.box-heading:hover {
    font-style: oblique;   text-shadow: 10px 10px 20px rgb(8, 8, 240);;
}

.more {
    text-align: center;   margin-top: 4.2rem;  margin-bottom: -25rem;   
}

.flex-container{
    width: 80%;  height: auto;  display: flex;
    flex-direction: row;   text-align: center;   padding-left: 17rem;
}

.flex-box{  
    width: 260px;   height: 200px;
    background: linear-gradient(rgb(244, 243, 242),rgb(20, 104, 240));
    color: rgb(8, 8, 8);  font-size: 25px;  text-align: center;
    line-height: 200px;  border-radius: 20px;  margin: 20px;
    margin-top: 3rem;   text-decoration: underline;   flex-wrap: wrap;   
}

.flex-box:hover{
    color: #080808;
    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff, 
                 0 0 40px #fff;
   box-shadow: 10px 10px 20px rgb(60, 59, 59);              
}

.give {
    background-color: #3978dd;   padding-top: 500px;    padding-bottom: 10px;
    font-size: 2rem;    text-align: center;        
}
   
    .input:active {
        transform: translateY(.3rem);
}

.form{   
    margin-bottom: -8px;   padding-top: 20px;   padding-bottom: 10px;
    background: linear-gradient(#3777de,rgb(146, 229, 243));
}


.else {
    text-align: center;   font-size: 2rem;
}

.submission {
    text-align: center ;    
}
.submit {
     transition: 1s;   font-size: 1rem;   color: #fffdfd;
    border: none;   border-radius: 10rem;   outline: none;
    text-align: center;   background: linear-gradient(to right, rgb(40, 47, 181),rgb(14, 41, 199));
}
.submit:active {
    transform: translateY(.2rem);
}            

.ratting{
    font-size: 2rem;   
}

.label {
    font-size: 1rem;
    margin-left: 1rem;
}



.footer-basic {
    padding:40px 0;
    background: linear-gradient(to top, rgb(6, 85, 242),rgb(24, 200, 240));    
  }
  
  .list-inline{
    text-align:center;
  }
  
  .list-inline-item{
    font-size:24px;  width:40px;   height:40px;
    line-height:40px;  display: inline;   text-align:center;
  }
  
  .footer-basic ul {
    padding:0;  list-style:none;  text-align:center;
    font-size:18px;   line-height:1.6;   margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;  text-decoration:none;  opacity:0.8;
  }  
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center; padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px; width:40px; height:40px;
    line-height:40px; display:inline-block;  text-align:center;
    border-radius:50%;  border:1px solid #ccc;
    margin:0 8px;  color:inherit;  opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;  text-align:center;
    font-size:13px;  color:#312f2f;  margin-bottom:0;
  }



@media only screen and (max-width: 920px) {
    .about-us-content {
      width: 470px;
    }
    .about-us-paragraph {
        font-size: 1rem;
    }
    .about-us-img {
        width: 433px;
        margin-left: 29.4rem;
        margin-top: -367px;
    }
    .info-button {
     margin-left: 150px;
    }
   .flex-container{
    padding-left: 40px;
   }
  .header{
    overflow: hidden;
  }

}


  
